run = "npm run generate-env && npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]

[nix]
channel = "stable-23_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"
FIREBASE_API_KEY = "$FIREBASE_API_KEY"
FIREBASE_AUTH_DOMAIN = "$FIREBASE_AUTH_DOMAIN"
FIREBASE_PROJECT_ID = "$FIREBASE_PROJECT_ID"
FIREBASE_STORAGE_BUCKET = "$FIREBASE_STORAGE_BUCKET"
FIREBASE_MESSAGING_SENDER_ID = "$FIREBASE_MESSAGING_SENDER_ID"
FIREBASE_APP_ID = "$FIREBASE_APP_ID"
FIREBASE_MEASUREMENT_ID = "$FIREBASE_MEASUREMENT_ID"

[deployment]
build = [
  "npm run build",
  "npm run generate-env"
]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001